.hero {
  display: flex;
  flex-flow: nowrap;
}

.hero-description {
  h1{
    font-size: 60px;
  }

  p{
    font-size: 25px;
  }
}

.begin-button {
  background-color: var(--color-button);
  border: 2px solid var(--color-btn-stroke);
  border-radius: var(--radius-button);
  color: var(--color-font-button);
  font-size: 25px;
  font-weight: 700;
  padding: 15px 30px;
}

.hero-image {
  height: 450px;
}
