.home {
  display: flex;
  margin:  auto;
  justify-content: center;
  flex-flow: column nowrap;
  font-size: 20px;
  gap: 40px;
  color: var(--color-text);
}

.home-activities {
  display: flex;
  gap: 15px;
  /* justify-content: center; */
}

